<uib-tabset active="active">
    <uib-tab index="0">
        <uib-tab-heading class="tab-head-container">
            <img src="../../../img/ico/category-icon-red.png">
            <p>Category List</p>
        </uib-tab-heading>
        <section class="tags-outer-container">
            <section class="tags-inner-container">
                <section class="search-bar">
                    <section class="search-filter">
                        <span>Search:</span>
                        <input type="text" class="user-input search-bar" ng-model="tagsVm.search" placeholder="Search a category here">
                    </section>

                    <section class="search-filter">
                        <span>Show</span>
                        <div class="dropdown-container numeric">
                            <div class="dropdown-header" ng-click="tagsVm.activeDropDown = 'limit'">
                                <span>{{tagsVm.baseLimit}}</span>
                                <img src="../../../img/ico/dropdown-icon.png">
                            </div>
                            <ul class="dropdown" ng-class="{'active': tagsVm.activeDropDown === 'limit'}">
                                <li ng-repeat="entry in $root.user.entryLimit" ng-click="tagsVm.baseLimit = entry; tagsVm.activeDropDown = '';">{{entry}}</li>
                            </ul>
                        </div>
                        <span>entries</span>
                    </section>
                </section>

                <section class="item-pager">
                    <section>Total of {{$root.user.questionTotalItems}} items</section>
                    <dir-pagination-controls
                            auto-hide="false"
                            direction-links="true"
                            boundary-links="true"
                            template-url="libs/dirPagination.tpl.html"
                            pagination-id="category">
                    </dir-pagination-controls>
                </section>


                <section class="table-container">
                    <header class="table-header">
                        <section class="table-header-item tags-data">Category Name</section>
                        <section class="table-header-item tags-data">Options</section>
                    </header>
                    {{$root.user.categories}}
                    <section
                        class="table-item-container"
                        dir-paginate="item in $root.user.categories |
                            orderBy: name |
                            itemsPerPage: tagsVm.baseLimit |
                            filter: {name: tagsVm.search} as itemsFound"
                        pagination-id="category">

                        <section class="table-item" ng-class="{'disabled': false}">
                            <section class="table-item-data tags-data">{{item.name}}</section>
                            <section class="table-item-data tags-data">
                                <button class="button table-button" ng-click="tagsVm.edit = item">
                                    <img src="../../../img/ico/edit-icon-red.png">
                                    <span>Edit</span>
                                </button>
                                <button class="button table-button" ng-click="">
                                    <img src="../../../img/ico/delete-icon-red.png">
                                    <span>Delete</span>
                                </button>
                            </section>
                        </section>
                    </section>
                    <section class="empty-list" ng-class="{'active': itemsFound.length===0}">No items found</section>
                </section>

                <section class="item-pager">
                    <section>Total of {{itemsFound.length}} items</section>
                    <dir-pagination-controls
                            auto-hide="false"
                            direction-links="true"
                            boundary-links="true"
                            template-url="libs/dirPagination.tpl.html"
                            pagination-id="category">
                    </dir-pagination-controls>
                </section>
            </section>

            <section class="tags-inner-container">
                <section class="tags-edit" ng-class="">
                    <section class="tags-edit-header">Edit category</section>
                    <input type="text" class="user-input" ng-model="tagsVm.edit.name" placeholder="Enter the new category name here.">
                    <button class="button">Save</button>
                </section>
                <section class="tags-edit">
                    <section class="tags-edit-header">New category</section>
                    <input type="text" class="user-input" ng-model="tagsVm.data.name" placeholder="Enter the category name here.">
                    <button class="button">Add</button>
                </section>
            </section>
        </section>
    </uib-tab>
    <uib-tab index="1">
        <uib-tab-heading class="tab-head-container">
            <img src="../../../img/ico/subcategory-icon-red.png">
            <p>Subcategory List</p>
        </uib-tab-heading>


    </uib-tab>
</uib-tabset>