<section class="info error" ng-class="{'active' : loginVm.invalid}">
    <span>Incorrect username or password.</span>
    <img src="../../../img/ico/add-icon.png" ng-click="loginVm.invalid = false">
</section>
<form class="login-form">
    <fieldset class="login-field">
        <legend>Account Sign-in</legend>
        <div class="login-type-container">
            <label class="login-type-button" ng-class="{'selected': loginVm.user.signInAs==='Student'}" ng-model="loginVm.user.signInAs" uib-btn-radio="'Student'" uib-uncheckable="uncheckable">Student</label>
            <label class="login-type-button" ng-class="{'selected': loginVm.user.signInAs==='Professor'}" ng-model="loginVm.user.signInAs" uib-btn-radio="'Professor'" uib-uncheckable="uncheckable">Professor</label>
        </div>
        <input class="user-input" type="text" ng-model="loginVm.user.username" id="username" placeholder="Username" required autofocus autocomplete/>
        <input class="user-input" type="password" ng-model="loginVm.user.password" id="password" placeholder="Password" required />
        <div class="login-button-container">
            <label for="remember-label">Remember me</label>
            <input type="checkbox" name="rememberUser" id="remember-label">
            <button class="button" ng-click="loginVm.login()">Sign In</button>
        </div>
    </fieldset>
    <a ui-sref="account.retrieve" id="forgot-password">Forgot your username or password?</a>
</form>
