<uib-tabset active="active">
    <uib-tab index="0">
        <uib-tab-heading class="tab-head-container">
            <img src="../../../assets/img/ico/list-icon-2.png">
            <p>Class List</p>
        </uib-tab-heading>

        <section class="class-inner-container">
            <section class="search-bar">
                <section class="search-filter">
                    <span>Search:</span>
                    <input type="text" class="user-input search-bar" ng-model="classVm.search" placeholder="Search a class here">
                </section>
            </section>

            <section class="table-container">
                <header class="table-header">
                    <section class="table-header-item class-data" ng-repeat="header in classVm.headers">{{header}}</section>
                </header>
                <section class="table-item-container"
                    dir-paginate="item in $root.user.classes |
                        orderBy: classVm.selectedSorter.toLowerCase() : classVm.selectedSortType.value |
                        itemsPerPage: classVm.baseLimit |
                        filter: {block: classVm.search} as classFound"
                        pagination-id="classRef">
                    <section class="table-item" ng-class="{'disabled': quizVm.edit}">
                        <section class="table-item-data class-data">{{item.code}}</section>
                        <section class="table-item-data class-data">{{item.name}}</section>
                        <section class="table-item-data class-data">{{item.block}}</section>
                        <section class="table-item-data class-data">
                            <button class="button table-button" ng-click="">
                                <img src="../../../assets/img/ico/view-icon-red.png">
                                <span>View</span>
                            </button>
                            <button class="button table-button" ng-click="classVm.readAssign(item)" ng-class="{'active': item.status==1, 'selected':classVm.data.classInfo.id===item.id}">
                                <img src="../../../assets/img/ico/assign-icon2-red.png">
                                <span ng-if="item.status==0">Assign</span>
                                <span ng-if="item.status==1">Assigned</span>
                            </button>
                        </section>
                    </section>
                </section>
                <section class="empty-list" ng-class="">No items found</section>
            </section>
            <section class="item-pager">
                <section>Total of {{classFound.length}} items</section>
                <dir-pagination-controls
                        auto-hide="false"
                        direction-links="true"
                        boundary-links="true"
                        template-url="assets/libs/dirPagination.tpl.html"
                        pagination-id="classRef">
                </dir-pagination-controls>
            </section>
        </section>

        <section class="class-assign">
            <header>Assign Quiz</header>
            <section class="class-assign-inner">
                <section class="quiz-info">
                    <section ng-if="classVm.data.classInfo!==undefined">{{classVm.data.classInfo.code}} {{classVm.data.classInfo.name}} {{classVm.data.classInfo.block}}</section>
                    <section ng-if="classVm.data.classInfo===undefined">Selected Class (None)</section>
                </section>

                <section class="search-filter">
                    <div class="dropdown-container">
                        <div class="dropdown-header" ng-click="classVm.activeDropDown = 'selectQuiz'" ng-class="{'disabled':classVm.data.classInfo===undefined || classVm.data.classInfo.quiz[0]!==undefined, 'active': classVm.activeDropDown === 'selectQuiz'}">
                            <span ng-if="classVm.data.selectedQuiz===undefined && classVm.data.classInfo.quiz[0]!==undefined">Choose a quiz to schedule</span>
                            <span>{{classVm.data.selectedQuiz.title}}</span>
                            <img src="../../../assets/img/ico/dropdown-icon.png">
                        </div>
                        <ul class="dropdown" ng-class="{'active': classVm.activeDropDown === 'selectQuiz' && classVm.data.classInfo !== undefined && classVm.data.classInfo.quiz[0]===undefined}">
                            <li ng-repeat="item in $root.user.quizzes" ng-click="classVm.data.selectedQuiz = item; classVm.activeDropDown = ''; classVm.computeTime()">{{item.title}}</li>
                        </ul>
                    </div>
                </section>

                <section class="schedule-info">
                    <span>Schedule</span>
                    <input class="user-input disabled" value="{{classVm.data.date | date: 'EEEE, MMMM d, y h:mm a'}}">
                </section>
                <section class="datepicker" uib-datepicker ng-model="classVm.data.date" ng-change="classVm.computeTime()" datepicker-options="classVm.dateOptions" ng-disabled="classVm.data.selectedQuiz===undefined || classVm.data.classInfo.quiz[0]!==undefined"></section>
                <section class="schedule-time">
                    <section>
                        <span>From</span>
                        <div uib-timepicker ng-model="classVm.data.timeStart" ng-disabled="classVm.data.selectedQuiz===undefined || classVm.data.classInfo.quiz[0]!==undefined" ng-change="classVm.computeTime()" min="classVm.timeLimits.lower" max="classVm.timeLimits.upper" show-meridian="false"></div>
                        <span>to</span>
                        <div uib-timepicker ng-model="classVm.data.timeEnd" show-meridian="false" show-spinners="false" ng-disabled="true"></div>
                    </section>
                    <button class="button" ng-class="{'disabled':classVm.data.selectedQuiz===undefined && classVm.data.classInfo.quiz[0]===undefined}" ng-click="classVm.assignQuiz()">
                        <span ng-if="classVm.data.classInfo.quiz[0]===undefined">Schedule</span>
                        <span ng-if="classVm.data.classInfo.quiz[0]!==undefined">Postpone</span>
                    </button>
                </section>

            </section>
        </section>

    </uib-tab>
</uib-tabset>