.table-header.qsearch{
  height: 40px;

  & > .table-header-item{
    &.qsearch-data{
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3){
        width: 11.75%;
      }

      &:nth-child(4){
        width: 53.75%;
      }

      &:last-child{
        width: 11%;
      }
    }
  }
}

.table-item-container.qsearch{
  & > .table-item{
    & > .table-item-data{
      &.qsearch-data{
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3){
          width: 12%;
        }

        &:nth-child(4){
          width: 55%;
        }

        &:last-child{
          width: 10%;
        }
      }
    }
  }
}

.table-header{
  & > .table-header-item{
    &.quiz-data{
      &:first-child,
      &:nth-child(2),
      &:nth-child(3){
        width: 10%;
      }

      &:nth-child(4){
        width: 30%;
      }

      &:nth-child(5){
        width: 7%;
      }

      &:nth-child(6){
        width: 8%;
      }

      &:nth-child(7){
        width: 6%;
      }

      &:last-child{
        width: 20%;
      }
    }

    &.qlist-data{
      &:first-child{
        width: 7.5%;
      }

      &:nth-child(2){
        width: 100%;
      }

      &:last-child{
        width: 20%;
      }
    }
  }
}

.table-container.qlist-table{
  margin: 0;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.table-item-container{
  & > .table-item{
    min-height: 0;

    & > .table-item-data{
      &.quiz-data{
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3){
          width: 10%;
        }

        &:nth-child(4){
          width: 30%;
        }

        &:nth-child(5){
          width: 7%;
        }

        &:nth-child(6){
          width: 8%;
        }

        &:nth-child(7){
          width: 6%;
          color: white;
          background-color: #f87979;
          box-shadow: inset 0 0 10px #780e0e;
          transition: 0.5s ease all;

          &.active{
            background-color: #59d75d;
            box-shadow: inset 0 0 10px #0e7811;
          }
        }

        &:last-child{
          width: 20%;
        }
      }

      &.qlist-data{
        &:nth-child(1){
          width: 8%;
        }

        &:nth-child(2){
          width: 100%;
        }

        &:nth-child(3){
          justify-content: center;
          width: 19%;
        }
      }
    }
  }
}

.datepicker{
  display: flex;
  justify-content: center;
  background-color: white;
  border: 1px solid #e3e3e3;
  padding: 9px;
  border-radius: 5px;
  margin: 10px 0;
  transition: 1s ease all;
}

.add-quiz-container{
  display: flex;
  flex-direction: column;
  //margin: 0 100px;
  align-items: center;
  align-content: center;


  & > .quiz-form-block{
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-height: 1000px;
    margin: 5px 0;
    transition: max-height 2s ease, margin 1s ease;


    &:nth-child(2){
      & > .info{
        width: 100%;
      }
    }

    &:nth-child(3){
      overflow: hidden;
    }

    &.disabled{
      max-height: 0;
      margin: 0;
    }

    & > .set{
      align-self: center;
      margin-top: 15px;

      & > .button.table-button{
        &.disabled{
          cursor: not-allowed;
          background-color: rgb(113, 113, 113);
          color: rgb(181, 181, 181);
        }
      }
    }

    & > .dropdown-format{
      width: 29%;
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;

      & > span{
        align-self: flex-start;
      }

      & > .dropdown-container{
        margin: 10px 0;
        width: 100%;
      }
    }

    & > .block-divider{
      &:nth-child(2){
        width: 75%;
        margin-left: 50px;

        & > .table-header{
          border-top-right-radius: 10px;
          border-top-left-radius: 10px;
        }
      }

      & > .input-block{
        margin: 10px 0;
        opacity: 1;
        max-height: 65px;
        overflow: hidden;
        transition: 1s ease all;

        &:nth-child(4){
          display: flex;
          justify-content: center;
        }

        &.disabled{
          opacity: 0;
          max-height: 0;
          margin: 0;
        }

        & > input{
          width: 100%;
        }

        & > #remember-label{
          width: auto;
          margin-left: 5px;
        }
      }

      & > .qlist-data{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        overflow: hidden;
        max-height: 50px;
        transition: 0.5s ease all;

        &.disabled{
          max-height: 0;
        }

        & > .button.table-button{
          margin: 0 10px;
          width: 200px;
        }
      }

      & > .qlist-button{
        margin: 10px 0 35px auto;
        display: flex;
      }
    }
  }
}

.qlist-input{
  border: 0 solid #414141;
  max-height: 0;
  margin: 0;
  border-radius: 10px;
  overflow: hidden;
  transition: 1s ease all;

  &.active{
    max-height: 1000px;
    margin: 30px 0 10px 0;
    border: 1px solid #414141;
  }

  & > header{
    color: white;
    padding: 10px;
    background-color: #414141;

    &.qsearch{
      padding: 0;
    }
  }

  & > section{
    margin: 0;

    &.new-question{
      margin: 10px;
    }

    &.table-container{
      overflow-y: scroll;
      border-radius: 0;
      max-height: 300px;
    }

    & > textarea.user-input{
      width: 100% !important;
      height: 100px !important;
    }

    & > .user-input{
      width: 100%;
      margin: 0;
      border-radius: 0;
    }

    & > .qlist-input-new{
      display: flex;
      justify-content: center;

      &:nth-child(4){
        justify-content: flex-end;
        margin-bottom: 30px;
      }

      & > .button:first-child{
        margin-right: 10px;
      }
    }
  }
}

.quiz-view{
  max-height: 0;
  padding-bottom: 0;
  transition: 1s ease all;


  &.active{
    max-height: 1000px;
    padding-bottom: 10px;
  }

  & > .quiz-header{
    background-color: #c7c7c7;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #434343;

    & > img{
      height: 15px;
      margin-right: 5px;
    }
  }


  & > .block-divider{
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > .table-header,
    & > .table-container,
    & > .qlist-input{
      width: 100%;
    }

    & > .input-block{
      width: 30%;
      display: flex;
      align-items: center;
      background-color: #f5f5f5;
      padding: 0 10px;
      border: 1px solid #414141;
      border-left: 10px solid #9b2121;

      &:first-child{
        width: 75%;
      }

      & > span{
        min-width: 80px;
        display: flex;
        align-items: center;
        margin-right: 5px;
        color: #414141;
      }
    }

    &:nth-child(3){
      flex-direction: column;
    }
  }

  & > .block-button{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
