<uib-tabset active="active">
    <uib-tab index="0">
        <uib-tab-heading class="tab-head-container">
            <img src="../../../assets/img/ico/list-icon-2.png">
            <p>Quiz List</p>
        </uib-tab-heading>

        <section class="search-bar">
            <section class="search-filter">
                <span>Search:</span>
                <input type="text" class="user-input search-bar" ng-model="quizVm.search" placeholder="Search a quiz here">
            </section>

            <section class="search-filter">
                <span>Sort by:</span>
                <div class="dropdown-container">
                    <div class="dropdown-header" ng-click="quizVm.activeDropDown = 'sorter'" ng-class="{'active': quizVm.activeDropDown === 'sorter'}">
                        <span>{{quizVm.selectedSorter}}</span>
                        <img src="../../../assets/img/ico/dropdown-icon.png">
                    </div>
                    <ul class="dropdown" ng-class="{'active': quizVm.activeDropDown === 'sorter'}">
                        <li ng-repeat="sorter in quizVm.sorters" ng-click="quizVm.selectedSorter = sorter; quizVm.activeDropDown = ''">{{sorter}}</li>
                    </ul>
                </div>
                <div class="dropdown-container">
                    <div class="dropdown-header" ng-click="quizVm.activeDropDown = 'sorterType'" ng-class="{'active': quizVm.activeDropDown === 'sorterType'}">
                        <span>{{quizVm.selectedSortType.name}}</span>
                        <img src="../../../assets/img/ico/dropdown-icon.png">
                    </div>
                    <ul class="dropdown" ng-class="{'active': quizVm.activeDropDown === 'sorterType'}">
                        <li ng-repeat="sortType in quizVm.sortTypes" ng-value="sortType.value" ng-click="quizVm.selectedSortType = sortType; quizVm.activeDropDown = ''">{{sortType.name}}</li>
                    </ul>
                </div>
            </section>

            <section class="search-filter">
                <span>Show</span>
                <div class="dropdown-container numeric">
                    <div class="dropdown-header" ng-click="quizVm.activeDropDown = 'limit'" ng-class="{'active': quizVm.activeDropDown === 'limit'}">
                        <span>{{quizVm.baseLimit}}</span>
                        <img src="../../../assets/img/ico/dropdown-icon.png">
                    </div>
                    <ul class="dropdown" ng-class="{'active': quizVm.activeDropDown === 'limit'}">
                        <li ng-repeat="entry in $root.user.entryLimit" ng-click="quizVm.baseLimit = entry; quizVm.activeDropDown = '';">{{entry}}</li>
                    </ul>
                </div>
                <span>entries</span>
            </section>
        </section>

        <hr class="row-divider">
        <section class="item-pager">
            <section>Total of {{itemsFound.length}} items</section>
            <dir-pagination-controls
                    auto-hide="false"
                    direction-links="true"
                    boundary-links="true"
                    template-url="assets/libs/dirPagination.tpl.html"
                    pagination-id="quiz">
            </dir-pagination-controls>
        </section>

        <section class="table-container">
            <header class="table-header">
                <section class="table-header-item quiz-data" ng-repeat="header in quizVm.headers">{{header}}</section>
            </header>
            <section class="table-item-container"
                dir-paginate="item in $root.user.quizzes |
                    orderBy: quizVm.selectedSorter.toLowerCase() : quizVm.selectedSortType.value |
                    itemsPerPage: quizVm.baseLimit |
                    filter: {question: quizVm.search} as itemsFound"
                    pagination-id="quiz">
                <section class="table-item" ng-class="{'disabled': quizVm.edit}">
                    <section class="table-item-data quiz-data">{{item.category}}</section>
                    <section class="table-item-data quiz-data">{{item.subcategory}}</section>
                    <section class="table-item-data quiz-data">{{item.subject}}</section>
                    <section class="table-item-data quiz-data">{{item.title}}</section>
                    <section class="table-item-data quiz-data">{{item.duration}}</section>
                    <section class="table-item-data quiz-data">{{item.passingPercent}}</section>
                    <section class="table-item-data quiz-data" ng-class="{'active':item.status==1}" ng-click="quizVm.changeStatus()">
                        <span ng-if="item.status == 1">Active</span>
                        <span ng-if="item.status == 0">Inactive</span>
                    </section>
                    <section class="table-item-data quiz-data">
                        <button class="button table-button" ng-click="quizVm.modifyQuiz(item, 'edit')" ng-class="{'disabled':item.status==1}">
                            <img src="../../../assets/img/ico/edit-icon-red.png">
                            <span>Edit</span>
                        </button>
                        <button class="button table-button" ng-click="quizVm.deleteQuiz(item)" ng-class="{'disabled':item.status==1}">
                            <img src="../../../assets/img/ico/delete-icon-red.png">
                            <span>Delete</span>
                        </button>
                    </section>
                </section>
            </section>
            <section class="empty-list" ng-class="{'active': itemsFound.length===0}">No items found</section>

            <section class="quiz-view" ng-class="{'active': quizVm.edit !== undefined}">
                <header class="quiz-header">
                    <img src="../../../assets/img/ico/edit-icon-red.png">
                    <span>Edit Quiz</span>
                </header>
                <section class="block-divider">
                    <div class="input-block">
                        <span>Quiz Title</span>
                        <input class="user-input" ng-model="quizVm.edit.title" placeholder="Enter the quiz name here.">
                    </div>
                    <div class="input-block">
                        <span>Duration</span>
                        <input class="user-input" ng-model="quizVm.edit.duration" placeholder="Enter the duration in minutes here.">
                    </div>
                    <div class="input-block">
                        <span>Passing %</span>
                        <input class="user-input" ng-model="quizVm.edit.passingPercent" placeholder="Enter the passing percentage of the quiz here.">
                    </div>
                </section>

                <section class="block-divider">
                    <header class="table-header">
                        <section class="table-header-item qlist-data">No</section>
                        <section class="table-header-item qlist-data">Question</section>
                        <section class="table-header-item qlist-data">Options</section>
                    </header>
                    <section class="table-container qlist-table">
                        <section class="table-item-container" ng-repeat="item in quizVm.edit.questions track by $index">
                            <section class="table-item">
                                <section class="table-item-data qlist-data">{{$index+1}}</section>
                                <section class="table-item-data qlist-data">{{item.question}}</section>
                                <section class="table-item-data qlist-data">
                                    <button class="button table-button" ng-click="quizVm.popEditItem(item)">
                                        <img src="../../../assets/img/ico/delete-icon-red.png">
                                        <span>Delete</span>
                                    </button>
                                </section>
                            </section>
                        </section>
                    </section>

                    <section class="qlist-input active">
                        <header>Question List</header>
                        <section class="search-bar">
                            <input type="text" class="user-input search-bar" ng-model="quizVm.qSearchEdit.search" ng-change="quizVm.qSearchEdit.questions = quizVm.checkSearch(quizVm.qSearchEdit.search)" placeholder="Search a question here">
                        </section>
                        <header class="table-header qsearch">
                                <section class="table-header-item qsearch-data" ng-repeat="header in quizVm.qSearch.headers">{{header}}</section>
                        </header>
                        <section class="table-container">
                            <section class="table-item-container qsearch"
                                dir-paginate="item in quizVm.qSearchEdit.questions |
                                    orderBy: 'question'|
                                    itemsPerPage: quizVm.qSearchEdit.questions.length |
                                    filter: {question: quizVm.qSearchEdit.search} as qEditFound"
                                pagination-id="quiz-edit">
                                    <section class="table-item">
                                        <section class="table-item-data qsearch-data">{{item.category}}</section>
                                        <section class="table-item-data qsearch-data">{{item.subcategory}}</section>
                                        <section class="table-item-data qsearch-data">{{item.subject}}</section>
                                        <section class="table-item-data qsearch-data">{{item.question}}</section>
                                        <section class="table-item-data qsearch-data">
                                            <button class="button table-button" ng-class="{'disabled': item.editAdded !== undefined}" ng-click="quizVm.addExistingQuestion(item, quizVm.edit.questions, 'edit')">
                                                <span ng-if="item.editAdded === undefined">Add Question</span>
                                                <span ng-if="item.editAdded !== undefined">Added</span>
                                            </button>
                                        </section>
                                    </section>
                            </section>
                        </section>
                        <section class="empty-list" ng-class="{'active': qEditFound.length === 0}">No questions matched. Try another one!</section>

                        <dir-pagination-controls hidden pagination-id="quiz-edit"
                        auto-hide="false"
                        direction-links="true"
                        boundary-links="true"
                        template-url="assets/libs/dirPagination.tpl.html">
                        </dir-pagination-controls>
                    </section>
                </section>

                <hr>
                <section class="block-button">
                    <button class="button question-button" ng-class="{'disabled': quizVm.checkQuiz(quizVm.edit)}" ng-click="quizVm.updateQuiz()">Save</button>
                    <button class="button question-button" ng-click="quizVm.edit = undefined">Cancel</button>
                </section>
            </section>
        </section>

        <section class="item-pager">
            <section>Total of {{itemsFound.length}} items</section>
            <dir-pagination-controls pagination-id="quiz"
                                    auto-hide="false"
                                     direction-links="true"
                                     boundary-links="true"
                                     template-url="assets/libs/dirPagination.tpl.html">
            </dir-pagination-controls>
        </section>
    </uib-tab>

    <!---------------------------------BLACK------------------------------------>

    <uib-tab index="1">
        <uib-tab-heading class="tab-head-container">
            <img src="../../../assets/img/ico/add-icon.png">
            <p>Add Quiz</p>
        </uib-tab-heading>

        <section class="add-quiz-container">
            <section class="quiz-form-block">
                <section class="dropdown-format">
                    <span>Category</span>
                    <div class="dropdown-container">
                        <div class="dropdown-header" ng-click="quizVm.activeDropDown = 'category'" ng-class="{'disabled' : quizVm.set,'active': quizVm.activeDropDown === 'category' && !quizVm.set}">
                            <span ng-if="quizVm.data.selectedCategory === undefined">Choose a category</span>
                            <span ng-if="quizVm.data.selectedCategory !== undefined">{{quizVm.data.selectedCategory.name}}</span>
                            <img src="../../../assets/img/ico/dropdown-icon.png">
                        </div>
                        <ul class="dropdown" ng-class="{'active': quizVm.activeDropDown === 'category' && !quizVm.set}">
                            <li ng-repeat="category in $root.user.categories" ng-click="quizVm.data.selectedCategory = category; quizVm.activeDropDown = ''">{{category.name}}</li>
                        </ul>
                    </div>
                </section>

                <section class="dropdown-format">
                    <span>Subcategory</span>
                    <div class="dropdown-container">
                        <div class="dropdown-header" ng-click="quizVm.activeDropDown = 'subcategory'" ng-class="{'disabled' : quizVm.set,'active': quizVm.activeDropDown === 'subcategory' && !quizVm.set}">
                            <span ng-if="quizVm.data.selectedSubCategory === undefined">Choose a subcategory</span>
                            <span ng-if="quizVm.data.selectedSubCategory !== undefined">{{quizVm.data.selectedSubCategory.name}}</span>
                            <img src="../../../assets/img/ico/dropdown-icon.png">
                        </div>
                        <ul class="dropdown" ng-class="{'active': quizVm.activeDropDown === 'subcategory' && !quizVm.set}">
                            <li ng-repeat="subcategory in $root.user.subcategories" ng-click="quizVm.data.selectedSubCategory = subcategory; quizVm.activeDropDown = ''">{{subcategory.name}}</li>
                        </ul>
                    </div>
                </section>

                <section class="dropdown-format">
                    <span>Subject</span>
                    <div class="dropdown-container">
                        <div class="dropdown-header" ng-click="quizVm.activeDropDown = 'subject'" ng-class="{'disabled' : quizVm.set, 'active': quizVm.activeDropDown === 'subject' && !quizVm.set}">
                            <span ng-if="quizVm.data.selectedSubject === undefined">Choose a subject</span>
                            <span ng-if="quizVm.data.selectedSubject !== undefined">{{quizVm.data.selectedSubject.name}}</span>
                            <img src="../../../assets/img/ico/dropdown-icon.png">
                        </div>
                        <ul class="dropdown" ng-class="{'active': quizVm.activeDropDown === 'subject' && !quizVm.set}">
                            <li ng-repeat="subject in $root.user.subjects" ng-click="quizVm.data.selectedSubject = subject; quizVm.activeDropDown = ''">{{subject.name}}</li>
                        </ul>
                    </div>
                </section>
                <section class="set">
                    <button class="button" ng-class="{'disabled' : quizVm.set}" ng-click="quizVm.setTags()">Proceed</button>
                </section>
            </section>

            <section class="quiz-form-block">
                <section class="info error" ng-class="{'active' : quizVm.setError }">
                    <span>Please choose a category, subcategory, and a subject to proceed.</span>
                    <img src="../../../assets/img/ico/add-icon.png" ng-click="quizVm.setError = false">
                </section>
            </section>

            <section class="quiz-form-block" ng-class="{'disabled': !quizVm.set}">
                <section class="block-divider">
                    <div class="input-block">
                        <span>Quiz Title</span>
                        <input class="user-input" ng-model="quizVm.data.title" placeholder="Enter the quiz name here.">
                    </div>
                    <div class="input-block">
                        <span>Quiz Duration</span>
                        <input type="number" class="user-input" ng-model="quizVm.data.duration" placeholder="Enter the duration in minutes here.">
                    </div>
                    <div class="input-block">
                        <span>Quiz Passing Percentage</span>
                        <input type="number" class="user-input" ng-model="quizVm.data.passingPercent" placeholder="Enter the passing percentage of the quiz here.">
                    </div>
                    <div class="input-block" ng-class="{'disabled' : quizVm.data.questions.length < 10}">
                        <button class="button question-button" ng-class="{'disabled' : quizVm.checkQuiz(quizVm.data)}" ng-click="quizVm.createQuiz()">Create Quiz</button>
                    </div>
                    <div class="input-block">
                        <section class="info warning" ng-class="{'active' : quizVm.data.questions.length < 10}">
                            <span>Creation of quiz requires a minimum of 10 questions.</span>
                        </section>
                    </div>

                </section>

                <section class="block-divider">
                    <header class="table-header">
                        <section class="table-header-item qlist-data">No</section>
                        <section class="table-header-item qlist-data">Question</section>
                        <section class="table-header-item qlist-data">Options</section>
                    </header>
                    <section class="table-container qlist-table">
                        <section class="table-item-container" ng-repeat="item in quizVm.data.questions track by $index">
                            <section class="table-item">
                                <section class="table-item-data qlist-data">{{$index+1}}</section>
                                <section class="table-item-data qlist-data">{{item.question}}</section>
                                <section class="table-item-data qlist-data">
                                    <button class="button table-button" ng-click="quizVm.popItem(item);">
                                        <img src="../../../assets/img/ico/delete-icon-red.png">
                                        <span>Delete</span>
                                    </button>
                                </section>
                            </section>
                        </section>
                    </section>
                    <section class="empty-list" ng-class="{'active': qFound.length === 0}">No questions matched. Try another one!</section>

                    <section class="qlist-button">
                        <button class="button table-button" ng-click="quizVm.questionType = 'new'" ng-class="{'disabled' : quizVm.questionType === 'new'}">
                            <img src="../../../assets/img/ico/add-icon.png">
                            <span>Add A New Question</span>
                        </button>
                        <button class="button table-button" ng-click="quizVm.questionType = 'old'" ng-class="{'disabled' : quizVm.questionType === 'old'}">
                            <img src="../../../assets/img/ico/list-icon-2.png">
                            <span>Use An Existing Question</span>
                        </button>
                    </section>

                    <section class="qlist-input" ng-class="{'active' : quizVm.questionType === 'new'}">
                        <header>New Question</header>
                        <section class="new-question">
                            <hr>
                            <textarea class="user-input" ng-model="quizVm.newQuestion.question" placeholder="Enter the new question here." required autofocus></textarea>
                            <ul class="options-table">
                                <li>Choices (Choose the correct answer among the choices):</li>
                                <li>Minimum of two(2) and maximum of four(4) choices each question.</li>
                                <li ng-repeat="option in quizVm.newQuestion.options track by $index">
                                    <input type="radio" name="answer" ng-click="quizVm.newQuestion.answer = $index" ng-checked="$index == quizVm.newQuestion.answer">
                                    <input class="user-input" ng-model="quizVm.newQuestion.options[$index]" placeholder="Option {{$index + 1}}">
                                </li>
                            </ul>
                            <section class="qlist-input-new">
                                <button class="button" ng-click="quizVm.choiceLimit(quizVm.newQuestion.options, 'upper')" ng-class="{'disabled' : quizVm.newQuestion.options.length === 4}">Add choice</button>
                                <button class="button" ng-click="quizVm.choiceLimit(quizVm.newQuestion.options, 'lower')" ng-class="{'disabled' : quizVm.newQuestion.options.length === 2}">Remove</button>
                            </section>
                            <hr>
                            <section class="qlist-input-new">
                                <button class="button question-button" ng-click="quizVm.addNewQuestion()">Add</button>
                                <button class="button question-button" ng-click="quizVm.questionType = undefined">Cancel</button>
                            </section>
                        </section>
                    </section>

                    <section class="qlist-input active" ng-class="{'active' : quizVm.questionType === 'old'}">
                        <header>Question List</header>
                        <section class="search-bar">
                            <input type="text" class="user-input search-bar" ng-model="quizVm.qSearch.search" ng-change="quizVm.qSearch.questions = quizVm.checkSearch(quizVm.qSearch.search)" placeholder="Search a question here">
                        </section>
                        <header class="table-header qsearch">
                            <section class="table-header-item qsearch-data" ng-repeat="header in quizVm.qSearch.headers">{{header}}</section>
                        </header>
                        <section class="table-container">
                            <section
                                    class="table-item-container qsearch"
                                    dir-paginate="item in quizVm.qSearch.questions |
                                                    orderBy: quizVm.qSearch.selectedSorter.toLowerCase() : quizVm.qSearch.selectedSortType.value |
                                                    itemsPerPage: quizVm.qSearch.questions.length |
                                                    filter: {question: quizVm.qSearch.search} as qFound"
                                    pagination-id="question">
                                <section class="table-item">
                                    <section class="table-item-data qsearch-data">{{item.category}}</section>
                                    <section class="table-item-data qsearch-data">{{item.subcategory}}</section>
                                    <section class="table-item-data qsearch-data">{{item.subject}}</section>
                                    <section class="table-item-data qsearch-data">{{item.question}}</section>
                                    <section class="table-item-data qsearch-data">
                                        <button class="button table-button" ng-class="{'disabled': item.added !== undefined}" ng-click="quizVm.addExistingQuestion(item, quizVm.data.questions, 'new')">
                                            <span ng-if="item.added === undefined">Add Question</span>
                                            <span ng-if="item.added !== undefined">Added</span>
                                        </button>
                                    </section>
                                </section>
                            </section>
                        </section>
                        <section class="empty-list" ng-class="{'active': qFound.length === 0}">No questions matched. Try another one!</section>

                        <dir-pagination-controls hidden pagination-id="question"
                                auto-hide="false"
                                direction-links="true"
                                boundary-links="true"
                                template-url="assets/libs/dirPagination.tpl.html">
                        </dir-pagination-controls>
                    </section>
                </section>
            </section>
        </section>
    </uib-tab>
</uib-tabset>

